body{
  width: 100%;
  margin: 0 auto;
}

li{
  list-style: none;
}
a{
  text-decoration: none;
}

nav{
  z-index: 10001;
}


.navbar {
  padding: 10px 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  display: inline-block;
  padding: 1em;
}

a{
  color: #000;
}
#login{
  color: red ;

}

a:hover{
  /* text-decoration: underline solid #495E57; */
  color: rgb(89, 203, 238);

}


.bar {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  border-radius: 2px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

 .nav-links.visible {
  position: absolute;
  top: 40px;
  left: 0;
   width: 100%;
  background-color: #495E57;
  display: flex;
  flex-direction: column;
  align-items: center;
 transition: all 0.5s ease-in-out;
}
